*{
    margin: 0;
    padding: 0;
}

body{
    margin: auto;
    position: relative;
}

body > img {
    height: 100%;
    width: 100%;
}

.container2{
    background-color: black;
    opacity: 0.6;
    width: 1000px;
    height: 750px;
    border-radius: 10px;
    position: absolute;
    bottom: 250px;
    right: 250px;
}

.container{
    width: 1000px;
    height: 750px;
    border-radius: 10px;
    position: absolute;
    bottom: 250px;
    right: 250px;
}

header > img{
    height: 25%;
    width: 25%;
    margin-left: 400px;
    margin-top: 50px;
}

header > h1{
    color: rgb(34, 252, 0);
    margin-top: 5px;
    margin-left: 30%;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    width: 750px;
    height:50px;
    background-color: rgb(34, 252, 0);
    margin: auto;
    margin-top: 10px;
}

#navigation{
    width: 300px;
    margin: auto;
    
}

input[type="button"]{
    margin-top: 15px;
}

main{
    margin-left: 12.5%;
    
}

section{
    margin-top: 25px;
    color: white;
}

#checkbox , section > h1{
    display: inline-block;
}

#statocarica{
    background-color: orange;
    border-radius: 10px;
    width: 300px;
    height: 40px;
    margin-top: 3px;
}

#statocarica2{
    background-color: green;
    border-radius: 10px;
    width: 450px;
    height: 40px;
    margin-top: 3px;
}
#statocarica3{
    background-color: red;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    margin-top: 5px;
}

section p{
    margin-top: 5px;
}